<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    <title>{% block title %}Principal{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-0">
      <div class="container">
         <h4 class="text-light my-auto">Vehiculos</h4> 
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            {% if user.is_authenticated %}
              {% if perms.vehiculo.add_vehiculo %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vehiculo:agregar_vehiculo' %}">Agregar</a>
                </li>
              {% endif %}
              {% if perms.vehiculo.visualizar_catalogo %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vehiculo:listar_vehiculo' %}">Listar</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
              </li>
            {% endif %}
          </ul>
         </div>
      </div>
    </nav>
    <div class="container mt-4">
        {% block content %} {% endblock %}
    </div>
  </body>
</html>
